{{> head }}
{{> navbar }}

  <div class="row">
    <div class="col-8">
      <h1>Acerca de mí</h1>
      <p>
        Adipisicing pariatur ea sint in cupidatat qui fugiat mollit qui occaecat deserunt. Labore ad enim commodo sint officia exercitation tempor voluptate consectetur ex labore et. Veniam amet labore nisi minim do nisi commodo exercitation Lorem aute fugiat nulla dolor est. Aliqua duis reprehenderit ut nulla ullamco sunt officia mollit sint do laboris cillum elit. Deserunt sit reprehenderit exercitation nisi ullamco aliqua laboris.
      </p>
    </div>

    <div class="col-4">
      <img src="assets/img/imagen.jpg" class="img-thumbnail">
    </div>
  </div>

{{> footer }}